@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.7rem;
  color: #334155;
  background-color: white;
  transition: background-color 0.1s;
}

body.dark {
  color: #f8fafc;
  background-color: #1b202c;
}

.container {
  max-width: 575px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_title {
  font-size: 2rem;
  color: #0084c7;
}
